<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/style.css') }}">
</head>
<body class="base_container">
    {% from "macros.html" import render_form_field %}

    <form class="model_form" method=post>
        {{ form.csrf_token }}
        
        {% for field in form if field.id != 'csrf_token' %}
            <div class="field">{{ render_form_field(field) }}</div>        
        {% endfor %}
        
        <div>
            <input type="reset" value="Reset">
            <input type='submit' name="action" value='Save'>
            <input type='submit' name="action" value='Delete'>
        </div>        
    </form>

    <script type="text/javascript" src="{{ url_for('admin.static', filename='scripts/multi_select.js') }}"></script>
</body>