{% extends 'base.html' %}

{% block title %} Условия и Положения {% endblock %}

{% block content %}
<div class="terms">
    <h2>Пользовательское Соглашение</h2>
    <br>
    <h3>Пользовательское Соглашение</h3>
    <ul>
        <li>
            Настоящее Пользовательское Соглашение (далее Соглашение) регулирует отношения между 
            автором first-film.ddns.net (далее First Film или Автор) с одной стороны и пользователем сайта (далее Пользователь) с другой.
        </li>
        <li>
            Используя сайт First Film, Вы соглашаетесь с условиями данного соглашения.
            Если Вы не согласны с условиями данного соглашения, не используйте сайт First Film!
        </li>
    </ul>
    <br>
    <h3>Права и обязанности сторон</h3>        
    <ul>
        <h4>Автор имеет право:</h4>
        <li>по своему усмотрению и необходимости создавать, изменять, отменять правила</li>
        <li>ограничивать доступ к любой информации на сайте</li>
        <li>создавать, изменять, удалять информацию</li>
        <li>удалять учетные записи без объяснения причин</li>
        <li>отказывать в регистрации без объяснения причин</li> 
    </ul>
    <br>
    <ul>
        <h4>Пользователь обязуется:</h4>
        <li>не нарушать работоспособность сайта</li>
    </ul>
    <br>
    <ul>
        <h3>Ответственность сторон:</h3>
        <li>Автор не несет никакой ответственности за точность, полноту, актуальность или качество предоставленной информации</li>
        <li>Автор не несёт никакой ответственности за несовпадение ожидаемых Пользователем и реально полученных услуг</li>
        <li>Автор не несет никакой ответственности за услуги, предоставляемые третьими лицами</li>
        <li>Автор не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу Сайта First Film</li>
    </ul>
    <br>
    <ul>
        <h3>Условия действия Соглашения:</h3>
        <li>Данное Соглашение вступает в силу при любом использовании данного сайта.</li>
        <li>Автор в любое время вправе внести изменения в Правила, которые вступают в силу немедленно. 
        <li>Продолжение пользования Сайтом после внесения изменений означает
            Ваше автоматическое согласие на соблюдение новых правил. </li>
        <li>Автор не оповещает пользователей об изменении в Соглашении.</li>
    </ul>
    
</div>
{% endblock %}